.order_list {
  padding: 2%;
  margin-top: 47px;
}

.order-list-header {
  padding: 40px;
  padding-top: 4%;
}

.heading-tag {
  font-size: 20px;
  padding-top: 4%;
}

.hr-tag {
  margin-top: 50px;
}

.empty_cart {
  width: 35%;
  display: table;
  margin: auto;
  margin-top: 14%;
}

.icon-calender-custom {
  font-size: 21px;
  margin: auto;
  display: table;
}

.icon-calender-btn {
  margin-top: 0;
  padding-top: 11px;
}

.search-box {
  margin-left: 31px;
}

.btn-accept {
  margin-top: -29px;
}

//Mobile view implementation
@media only screen and (max-width: 768px) {
  .filter_btn_mobile_view {
    margin-top: 10px;
    width: 100%;
    border-radius: 0;
  }

  .filter_end_date {
    margin-top: 8px;
  }
}
