.order_list {
  padding: 50px;
}

.order-list-header {
  padding: 40px;
  padding-top: 4%;
}

.heading-tag {
  font-size: 20px;
  padding-top: 4%;
}

.hr-tag {
  margin-top: 50px;
}

.empty_cart {
  width: 35%;
  display: table;
  margin: auto;
  margin-top: 14%;
}
