.add-med-footer {
  font-size: 13px;
  color: #4c4023c4;
}

.btn-yes {
  background-color: #90ee9091;
}

.btn-yes:hover {
  background-color: #74ef74;
}

.btn-no {
  background-color: #e61a1a6b;
}

.btn-no:hover {
  background-color: #e61a1ae6;
}
