<!--<div id="alert_modal" style="top: 0px;">-->
<!--<div class="alert success fadeOut" *ngIf="messageBarEvent">-->
<!--<p class="container"><span class="icon fontawesome-ok-sign"></span>Successful! <span class="close fontawesome-remove-sign"></span></p>-->
<!--</div>-->

<!--<div class="alert error fadeOut" *ngIf="!messageBarEvent">-->
<!--<p class="container"><span class="icon fontawesome-minus-sign"></span>Error! <span class="close fontawesome-remove-sign"></span></p>-->
<!--</div>-->
<!--</div>-->
