<!--<div class="login-container bg-light">-->
<!--<div class="login-box">-->
<!--<h1 translate>APP_NAME</h1>-->
<!--<div>-->
<!--<h6 class="d-inline-block">v{{version}}</h6>-->
<!--<div class="d-inline-block ml-3" ngbDropdown>-->
<!--<button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>-->
<!--{{currentLanguage}}-->
<!--</button>-->
<!--<div ngbDropdownMenu aria-labelledby="language-dropdown">-->
<!--<button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">-->
<!--{{language}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="card col-md-6 mt-3 mx-auto">-->
<!--<div class="card-body">-->
<!--<h4 class="card-title text-center">-->
<!--<i class="far fa-3x fa-user-circle text-muted"></i>-->
<!--</h4>-->
<!--<form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>-->
<!--<div class="alert alert-danger" [hidden]="!error || isLoading" translate>-->
<!--Username or password incorrect.-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="d-block">-->
<!--<input type="text" class="form-control" formControlName="username" autocomplete="username"-->
<!--[placeholder]="'Username' | translate"/>-->
<!--<span hidden translate>Username</span>-->
<!--<small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"-->
<!--class="text-danger" translate>-->
<!--Username is required-->
<!--</small>-->
<!--</label>-->
<!--<label class="d-block">-->
<!--<input type="password" class="form-control" formControlName="password" autocomplete="current-password"-->
<!--[placeholder]="'Password' | translate" required/>-->
<!--<span hidden translate>Password</span>-->
<!--<small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"-->
<!--class="text-danger" translate>-->
<!--Password is required-->
<!--</small>-->
<!--</label>-->
<!--<div class="form-check">-->
<!--<label class="form-check-label">-->
<!--<input type="checkbox" class="form-check-input" formControlName="remember"/>-->
<!--<span translate>Remember me</span>-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--<button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">-->
<!--<i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>-->
<!--<span translate>Login</span>-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<section class="desktop_view user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">
          MedPure is one stop solution for managing all the processes of drug stores from delivering stock to inventory
          management.
        </p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">
          Quality in a service or product is not what you put into it. It's what the customer get out of it.
        </p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>

    <div
      class="user_options-forms"
      id="user_options-forms"
      [ngClass]="{ 'login-container-height': typeForm == 'login', 'sign-up-container-height': typeForm == 'sign-up' }"
    >
      <div>
        <div class="user_forms-login" *ngIf="!setForgetPass">
          <h2 class="forms_title">Login</h2>
          <form class="forms_form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <span style="color: red;" [hidden]="!LoginErrorMessage || isLoading" translate>
              Username or password incorrect.
            </span>
            <div class="alert alert-success" *ngIf="from == 'onboarding'" translate>
              Onboarding is successful. Please Login to continue.
            </div>
            <fieldset class="forms_fieldset">
              <!--<div class="forms_field">-->
              <!--<input type="text" class="form-control forms_field-input" formControlName="username" autocomplete="username"-->
              <!--[placeholder]="'Username' | translate" required autofocus />-->
              <!--<small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"-->
              <!--class="text-danger" translate>-->
              <!--Username is required-->
              <!--</small>-->
              <!--</div>-->
              <div class="forms_field">
                <input
                  type="text"
                  class="form-control forms_field-input"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'Email address' | translate"
                  required
                  autofocus
                />
                <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="text-danger">
                  <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="forms_field">
                <input
                  type="password"
                  class="form-control forms_field-input"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  required
                />
                <div
                  *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
                  class="text-danger"
                >
                  <!--                  <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>-->
                  <span *ngIf="loginForm.controls.password.errors.minLength">
                    Minimum 8 characters required.
                  </span>
                </div>
              </div>
            </fieldset>
            <div class="forms_buttons">
              <button type="button" class="forms_buttons-forgot" (click)="forgetPassword()">Forgot password?</button>
              <button
                type="submit"
                [disabled]="loginForm.invalid || isLoading"
                value="Log In"
                class="forms_buttons-action"
              >
                <span [hidden]="isLoading">
                  Login
                </span>
                <span>
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                </span>
              </button>
            </div>
          </form>
        </div>

        <!--Forget password-->
        <div class="user_forms-login" *ngIf="setForgetPass">
          <h2 class="forms_title">Forget password</h2>
          <form class="forms_form" (ngSubmit)="forget()" [formGroup]="forgetPasswordForm" novalidate>
            <span style="color: red;" [hidden]="!ForgetPasswordErrorMessage || isLoading" translate>
              Email address is incorrect.
            </span>
            <div class="alert alert-success" [hidden]="error || isLoading || !forgrt_email_sent" translate>
              Password reset e-mail has been sent.
            </div>
            <div class="alert alert-success" *ngIf="from == 'onboarding'" translate>
              Onboarding is successful. Please Login to continue.
            </div>
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input
                  type="text"
                  class="form-control forms_field-input"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'Email address' | translate"
                  required
                  autofocus
                />
                <div
                  *ngIf="forgetPasswordForm.controls.email.invalid && forgetPasswordForm.controls.email.touched"
                  class="text-danger"
                >
                  <div *ngIf="forgetPasswordForm.controls.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </fieldset>
            <div class="forms_buttons">
              <button type="button" class="forms_buttons-forgot" (click)="forgetPassword()">Login</button>
              <button
                type="submit"
                [disabled]="forgetPasswordForm.invalid || isLoading"
                value="Continue"
                class="forms_buttons-action"
              >
                <span [hidden]="isLoading">
                  Forget password
                </span>
                <span>
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
        <!--Forget password ends-->

        <!--Sign up starts-->
        <div class="user_forms-signup" *ngIf="!show_otp_form">
          <h2 class="forms_title">Sign Up</h2>
          <form class="forms_form" (ngSubmit)="signUp()" [formGroup]="signUpForm" novalidate>
            <div class="boarding-success" [hidden]="!onBoardingSuccess || isLoading" translate>
              On-boarding email has been sent to you.
              <span (click)="resendOnboardingEmail()" class="resend-mail"
                >Resend<img src="../../assets/images/login/resend.png"
              /></span>
            </div>
            <div *ngIf="signuperrorexists" class="boarding-email-already-exists">
              This email address already exist.
              <span style="margin-left: 4px" (click)="resendOnboardingEmail()" class="resend-mail">Click here</span
              ><span style="margin-left: 4px;">to resend the MedPure boarding email.</span>
            </div>
            <div *ngIf="signuperrorregistered" class="boarding-email-already-exists">
              This email address already registered. Kindly login.
            </div>
            <div *ngIf="signuperrorphonenumber" class="boarding-email-already-exists">
              {{ signuperrorphonenumber }}
            </div>
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input
                  type="text"
                  class="form-control forms_field-input"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'Email address' | translate"
                  required
                  autofocus
                />
                <div *ngIf="signUpForm.controls.email.invalid && signUpForm.controls.email.touched" class="text-danger">
                  <div *ngIf="signUpForm.controls.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="forms_field">
                <input
                  type="text"
                  class="form-control forms_field-input"
                  formControlName="first_name"
                  autocomplete="first_name"
                  [placeholder]="'First Name' | translate"
                  required
                  autofocus
                />
                <div
                  *ngIf="signUpForm.controls.first_name.invalid && signUpForm.controls.first_name.touched"
                  class="text-danger"
                >
                  <div *ngIf="signUpForm.controls.first_name.errors.required">First name is required</div>
                </div>
              </div>
              <div class="forms_field">
                <input
                  type="text"
                  class="form-control forms_field-input"
                  formControlName="last_name"
                  autocomplete="last_name"
                  [placeholder]="'Last Name' | translate"
                  required
                  autofocus
                />
                <div
                  *ngIf="signUpForm.controls.last_name.invalid && signUpForm.controls.last_name.touched"
                  class="text-danger"
                >
                  <div *ngIf="signUpForm.controls.last_name.errors.required">Last name is required</div>
                </div>
              </div>
              <div class="forms_field">
                <input
                  type="number"
                  class="form-control forms_field-input"
                  formControlName="phone_number"
                  autocomplete="phone_number"
                  [placeholder]="'phone_number' | translate"
                  required
                />
                <div
                  *ngIf="signUpForm.controls.phone_number.invalid && signUpForm.controls.phone_number.touched"
                  class="text-danger"
                >
                  <div *ngIf="signUpForm.controls.phone_number.errors.validPhoneNumber">Number is in-valid.</div>
                </div>
              </div>
              <div class="forms_field">
                <select class="select-role-type" formControlName="user_type">
                  <option value="retailer" selected>Retailer</option>
                  <option value="distributor">Distributor</option>
                  <!--                  <option value="delivery">Delivery</option>-->
                </select>
                <div
                  *ngIf="signUpForm.controls.user_type.invalid && signUpForm.controls.user_type.touched"
                  class="text-danger"
                >
                  <div *ngIf="signUpForm.controls.user_type.errors.required">Kindly select your user type.</div>
                </div>
              </div>
            </fieldset>
            <div class="forms_buttons">
              <button
                type="submit"
                [disabled]="signUpForm.invalid || isLoading"
                value="Sign up"
                class="forms_buttons-action"
              >
                <span [hidden]="isLoading">
                  Sign up
                </span>
                <span>
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
        <!--Sign up ends-->

        <div class="user_forms-signup" *ngIf="show_otp_form">
          <h2 class="forms_title">OTP</h2>
          <span style="font-size: 12px;"> is sent to you. </span>
          <span style="font-size: 12px;">
            <a
              style="color: #1e76c7;
                cursor: pointer;"
              (click)="resendOtpCode()"
              >Resend Code</a
            ></span
          >
          <br />
          <span style="color: red;" *ngIf="otp_error" translate>
            {{ otp_error.error }}
          </span>
          <div id="divOuter">
            <div id="divInner">
              <input
                [(ngModel)]="otp_code"
                (keydown)="stopCarret($event)"
                (keyup)="setCaretPosition($event, 3)"
                id="partitioned"
                class="form-control forms_field-input"
                type="text"
                maxlength="4"
                required
                autofocus
              />
            </div>
          </div>
          <!--          <input-->
          <!--            [(ngModel)]="otp_code"-->
          <!--            type="number"-->
          <!--            class="form-control forms_field-input"-->
          <!--            [placeholder]="'OTP' | translate"-->
          <!--            required-->
          <!--            autofocus-->
          <!--          /><br />-->
          <div class="submit-otp">
            <button
              type="Submit"
              [disabled]="!otp_code"
              value="submit"
              class="forms_buttons-action"
              (click)="submitOTP()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mobile_view">
  <img class="trial_img" src="../../assets/images/logo/mobile_view.svg" alt="" />
  <div class="login-wrapper">
    <div *ngIf="form_type === 'login' && !setForgetPass" class="login-page">
      <div>Log in</div>
      <span style="color: red;" [hidden]="!LoginErrorMessage || isLoading" translate>
        Username or password incorrect.
      </span>
      <form class="forms_form" [formGroup]="loginForm" novalidate>
        <div>
          <input
            type="text"
            class="form-control forms_field-input"
            formControlName="email"
            autocomplete="email"
            [placeholder]="'Email address' | translate"
            required
            autofocus
          />
          <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="text-danger">
            <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div>
          <input
            type="password"
            class="form-control forms_field-input"
            formControlName="password"
            autocomplete="current-password"
            [placeholder]="'Password' | translate"
            required
          />
          <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="text-danger">
            <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
            <span *ngIf="loginForm.controls.password.errors.minLength">{{
              loginForm.controls.password.errors.minLength['msg']
            }}</span>
          </div>
        </div>
        <button (click)="login()" [disabled]="loginForm.invalid || isLoading">
          <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
          <i class="fas fa-angle-right" [hidden]="isLoading"></i><i class="fas fa-angle-right" [hidden]="isLoading"></i>
        </button>
        <a class="forms_forgot_password_mobile" (click)="forgetPassword()">Forgot password ?</a>
      </form>
    </div>
    <div *ngIf="form_type !== 'sign-up' && setForgetPass" class="login-page">
      <div>Forget password</div>
      <span style="color: red;" [hidden]="!ForgetPasswordErrorMessage || isLoading" translate>
        Email address is incorrect.
      </span>
      <div class="alert alert-success" [hidden]="error || isLoading || !forgrt_email_sent" translate>
        Password reset e-mail has been sent.
      </div>
      <div class="alert alert-success" *ngIf="from == 'onboarding'" translate>
        Onboarding is successful. Please Login to continue.
      </div>
      <form class="forms_form" [formGroup]="forgetPasswordForm" novalidate>
        <div>
          <input
            type="text"
            class="form-control forms_field-input"
            formControlName="email"
            autocomplete="email"
            [placeholder]="'Email address' | translate"
            required
            autofocus
          />
          <div
            *ngIf="forgetPasswordForm.controls.email.invalid && forgetPasswordForm.controls.email.touched"
            class="text-danger"
          >
            <div *ngIf="forgetPasswordForm.controls.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <button (click)="forget()" [disabled]="loginForm.invalid || isLoading">
          <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
          <i class="fas fa-angle-right" [hidden]="isLoading"></i><i class="fas fa-angle-right" [hidden]="isLoading"></i>
        </button>
        <a class="forms_forgot_password_mobile" (click)="forgetPassword()">Login ?</a>
      </form>
    </div>
    <div *ngIf="form_type === 'sign-up'" class="login-page">
      <div *ngIf="!show_otp_form">
        <div>Sign up</div>
        <span class="boarding-success" [hidden]="!onBoardingSuccess || isLoading" translate>
          On-boarding email has been sent to you.<span class="resend-mail" (click)="resendOnboardingEmail()"
            >Resend<img src="../../assets/images/login/resend.png"
          /></span>
        </span>
        <div *ngIf="signuperrorexists" class="boarding-email-already-exists">
          This email address already exist.
          <span style="margin-left: 4px" (click)="resendOnboardingEmail()" class="resend-mail">Click here</span
          ><span style="margin-left: 4px;">to resend the MedPure boarding email.</span>
        </div>
        <div *ngIf="signuperrorregistered" class="boarding-email-already-exists">
          This email address already registered. Kindly login.
        </div>
        <div *ngIf="signuperrorphonenumber" class="boarding-email-already-exists">
          {{ signuperrorphonenumber }}
        </div>
        <form class="forms_form" [formGroup]="signUpForm" novalidate>
          <div>
            <input
              type="text"
              class="form-control forms_field-input"
              formControlName="email"
              autocomplete="email"
              [placeholder]="'Email address' | translate"
              required
              autofocus
            />
            <div *ngIf="signUpForm.controls.email.invalid && signUpForm.controls.email.touched" class="text-danger">
              <div *ngIf="signUpForm.controls.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div>
            <input
              type="text"
              class="form-control forms_field-input"
              formControlName="first_name"
              autocomplete="first_name"
              [placeholder]="'First Name' | translate"
              required
              autofocus
            />
            <div
              *ngIf="signUpForm.controls.first_name.invalid && signUpForm.controls.first_name.touched"
              class="text-danger"
            >
              <div *ngIf="signUpForm.controls.first_name.errors.required">First name is required</div>
            </div>
          </div>
          <div>
            <input
              type="text"
              class="form-control forms_field-input"
              formControlName="last_name"
              autocomplete="last_name"
              [placeholder]="'Last Name' | translate"
              required
              autofocus
            />
            <div
              *ngIf="signUpForm.controls.last_name.invalid && signUpForm.controls.last_name.touched"
              class="text-danger"
            >
              <div *ngIf="signUpForm.controls.last_name.errors.required">Last name is required</div>
            </div>
          </div>
          <div>
            <input
              type="number"
              class="form-control forms_field-input"
              formControlName="phone_number"
              autocomplete="phone_number"
              [placeholder]="'phone number' | translate"
              required
            />
            <div
              *ngIf="signUpForm.controls.phone_number.invalid && signUpForm.controls.phone_number.touched"
              class="text-danger"
            >
              <div *ngIf="signUpForm.controls.phone_number.errors.validPhoneNumber">Number is in-valid.</div>
            </div>
          </div>
          <div>
            <select class="select-role-type-mobile" formControlName="user_type">
              <option value="retailer" selected>Retailer</option>
              <option value="distributor">Distributor</option>
            </select>
          </div>
          <button (click)="signUp()" [disabled]="signUpForm.invalid || isLoading">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <i class="fas fa-angle-right" [hidden]="isLoading"></i
            ><i class="fas fa-angle-right" [hidden]="isLoading"></i>
          </button>
        </form>
      </div>
      <div *ngIf="show_otp_form">
        <h2 class="forms_title">Enter OTP</h2>
        <h4>Please enter the OTP sent to your mobile.</h4>
        <h5>Not received your code? <a (click)="resendOtpCode()">Resend Code</a></h5>
        <br />

        <span style="color: red;" *ngIf="otp_error" translate>
          {{ otp_error.error }}
        </span>
        <input
          [(ngModel)]="otp_code"
          type="number"
          class="form-control forms_field-input"
          [placeholder]="'OTP' | translate"
          required
          autofocus
        /><br />
        <input type="submit" [disabled]="!otp_code" value="submit" class="forms_buttons-action" (click)="submitOTP()" />
      </div>
    </div>
  </div>
  <i *ngIf="!showMobileIconClosed" style="z-index: 99;" class="fas fa-user-circle" (click)="openLogin('login')"></i>
  <i *ngIf="showMobileIconClosed" style="z-index: 99;" class="fas fa-times-circle" (click)="openLogin('login')"></i>
  <!--  <i style="z-index: 99;" class="fas fa-times-circle" (click)="openLogin('login')"></i>-->

  <div class="description">
    <div class="alert alert-success" *ngIf="from == 'onboarding'" translate>
      Onboarding is successful. Please Login to continue.
    </div>
    <div>
      <button
        class="continue login_mobile_btn btn btn-inverse-success btn-rounded btn-fw btn-yes btn-accept"
        type="button"
        (click)="openLogin('login')"
      >
        Login
      </button>
      <button
        class="continue signup_mobile_btn btn btn-inverse-success btn-rounded btn-fw btn-yes btn-accept"
        type="button"
        (click)="openLogin('sign-up')"
      >
        Sign-up
      </button>
    </div>
  </div>
</section>
