.tr-color {
  background-color: white;
}

.bg-info {
  background-color: white !important;
}

//Search bar
@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.navigation {
  background-color: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 1px #c8c8c8;
  line-height: 52px;
  color: #62bb49;
}
.container {
  position: relative;
}
.title {
  font-family: "Cookie";
  font-size: 32px;
  cursor: pointer;
}
.search-control {
  font-family: "Open Sans";
  position: absolute;
  right: 0;
  cursor: pointer;
  color: #bbb;
}
.search-control:hover {
  color: #686868;
}
.fa-home {
  font-size: 22px;
}
.search-box {
  width: 100%;
  position: relative;
  height: 48px;
  transition: opacity 0.4s linear, visibility 0.4s linear 0s;
}
.search-box > #search {
  border: 1px solid;
  //padding-left: 10%;
  width: 84%;
  height: 48px;
  border-radius: 6px 0px 0px 6px;
  //box-shadow: -1px 0px 7px #ddd;
}
input,
input:focus {
  border: none;
  box-shadow: none;
  background-color: none;
  outline: 0;
  font-size: 16px;
  font-family: "Open Sans";
  color: #bbb;
  padding: 0px 12px;
}
.also {
  font-family: "fontawesome";
  color: #bbb;
  display: inline-block;
  background-color: #fff;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  //box-shadow: -1px 0px 7px #ddd;
  border: 1px solid;
}
.search-link:hover {
  color: #686868;
}
.setting {
  border-radius: 0px 6px 6px 0px;
  margin-left: 48px;
  font-size: 18px;
}
.setting:hover {
  color: #686868;
}

//Remote
//@import "compass/css3";

//@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400, 700);
//@import "compass/reset";
$fontSans: "Montserrat", sans-serif;
$fontSerif: "Droid Serif", serif;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
//*{ box-sizing:border-box;}
//
//
//
//body {
//  color: #333;
//  -webkit-font-smoothing: antialiased;
//  font-family: $fontSerif;
//
//}
img {
  max-width: 100%;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.wrap {
  margin: -18px auto;
  margin-bottom: -1em;
}

.projTitle {
  font-family: $fontSans;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
  span {
    font-family: $fontSerif;
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
  }
}
// CART HEADER
.heading {
  padding: 1em 0;
  //border-bottom: 1px solid #d0d0d0;

  h1 {
    font-family: $fontSerif;
    font-size: 2em;
    float: left;
    @media (max-width: 768px) and (min-width: 600px) {
      font-size: 22px;
    }
  }
  a.continue {
    &:link,
    &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -0.015em;
      font-size: 0.75em;
      padding: 1em;
      color: #fff;
      background: #82ca9c;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      text-align: right;
      @include transition(all, 0.25s, linear);
    }
    &:after {
      content: "\276f";
      padding: 0.5em;
      position: relative;
      right: 0;
      @include transition(all, 0.15s, linear);
    }
    &:hover,
    &:focus,
    &:active {
      background: #f69679;

      &:after {
        right: -10px;
      }
    }
  }
}

// TABLE HEADING

.tableHead {
  display: table;
  width: 100%;
  font-family: $fontSans;
  font-size: 0.75em;
  li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
    &.prodHeader {
      text-align: left;
    }
  }
}

// CART Items

.cart {
  padding: 1em 0;

  .items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 4px;

    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;

      //vertical-align: middle;

      .itemNumber {
        font-size: 0.75em;
        color: #777;
        margin-bottom: 0.5em;
      }

      h3 {
        font-size: 1em;
        font-family: $fontSans;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        margin-bottom: 0.5em !important;
        margin: 0;
      }
      p {
        display: inline-block;
        font-size: 0.85em;

        //color: #777777;
        font-family: $fontSans;
        .quantity {
          font-weight: bold;
          color: #333;
        }

        &.stockStatus {
          color: #82ca9c;
          font-weight: bold;
          padding: 0.5em 0 0 1em;
          text-transform: uppercase;
          &.out {
            color: #f69679;
          }
        }
      }
      .itemImg {
        width: 4em;

        float: left;
      }
      &.qtyWrap,
      &.prodTotal {
        text-align: center;
        p {
          font-weight: bold;
          font-size: 1.25em;
        }
      }

      input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
        padding: 0.25em;
        margin: 1em 0.5em 0 0;
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
    }
  }
}

.special {
  display: block;
  font-family: $fontSans;
  .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #dadada;
    &:before {
      content: "\21b3";
      font-size: 1.5em;
      margin-right: 1em;
      color: #6f6f6f;
      font-family: helvetica, arial, sans-serif;
    }
  }
}

a.remove {
  text-decoration: none;
  font-family: $fontSans;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  @include transition(all, 0.25s, linear);
  &:hover {
    background: #f30;
  }
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;

    margin-bottom: 0.5em;
    letter-spacing: -0.025em;
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: 0.5em;
    float: left;
    border: 1px solid #dadada;
    &:active,
    &:focus {
      outline: 0;
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: 0.75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
    &:hover {
      border: 1px solid #f69679;
      background: #f69679;
    }
  }
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: $fontSans;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    @include transition(all, 0.25s, linear);
  }
  &:after {
    content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    @include transition(all, 0.15s, linear);
  }
  &:hover,
  &:focus,
  &:active {
    background: #f69679;
    &:after {
      right: -10px;
    }
  }

  .promoCode & {
    font-size: 0.85em;
    paddding: 0.5em 2em;
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
  .totalRow {
    padding: 0.5em;
    text-align: right;

    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
    }
    .label {
      font-family: $fontSans;
      font-size: 0.85em;
      text-transform: uppercase;
      color: #777;
    }
    .value {
      letter-spacing: -0.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    padding: 2% 0;
  }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .heading {
    padding: 1em;
    font-size: 90%;
  }
  .cart {
    .items {
      .cartSection {
        display: block;
        float: left;
        &.qtyWrap {
          width: 10%;
          text-align: center;
          padding: 0.5em 0;
          float: right;
          &:before {
            content: "QTY";
            display: block;
            font-family: $fontSans;
            padding: 0.25em;
            font-size: 0.75em;
          }
        }
        &.prodTotal,
        &.removeWrap {
          display: none;
        }
        .itemImg {
          width: 25%;
        }
      }
    }
  }
  .promoCode,
  .subtotal {
    width: 100%;
  }

  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

//Changing design of btn in accordian

.btn-link {
  width: 100% !important;
  text-decoration: none;
  color: black;
}

.btn:after {
  content: "";
}

.btn:hover,
.btn:focus,
.btn:active {
  background: white;
  text-decoration: none;
  color: black;
}

//Date filter
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.filter_start_date {
  //margin-top: -25px;
  //margin-left: 8px;
}

.filter_end_date {
  //margin-top: -25px;
  //margin-left: -24px;
}

.sub-order-dropdown-heading {
  color: #ec2c70 !important;
  font-weight: 300;
  padding-left: 12px;
}

.sub-order-dropdown-heading-start {
  color: #ec2c70 !important;
  font-weight: 300;
}

.product-sub-details {
  margin-left: 3px;
  font-size: 15px;
}

.infoWrap {
  padding: 12px;
}

.footer-order-data-sub-details {
  //margin-bottom: -6px;
}

.card {
  border: 1px solid #00000026 !important;
}

.btn-accept {
  background-color: #4ca4e1;
  color: #f2f7fb;
}

.btn-reject {
  background-color: #ce01018c;
  padding: 5px;
  border: 1px solid #0000001f;
  //padding-left: 23px;
  color: #f2f7fb;
}

.cart-amount {
  float: right;
  padding-right: 14px;
}

.cart-full-box {
  width: 100%;
}

.badge-retailer-status {
  color: #fff !important;
  background-color: #f96666 !important;
  //padding: 5px !important;
  border-radius: 10px !important;
  border-color: #f96666;
}

.badge-distributor-status {
  color: #fff !important;
  background-color: #f96666 !important;
  padding: 5px !important;
  border-radius: 10px !important;
  border-color: #f96666;
}

.distributor-reject {
  min-width: 96px !important;
  border-radius: 9px !important;
  background-color: white !important;
  color: red;
}

.distributor-reject:hover {
  min-width: 96px !important;
  border-radius: 9px !important;
  background-color: red !important;
  box-shadow: 2px 3px 4px 1px #c5a6a6;
  color: white;
  border-color: red;
}

// Alert modal button

//.btn-yes {
//  background-color: #90ee9091;
//}
//
//.btn-yes:hover {
//  background-color: #74ef74;
//}
//
//.btn-no {
//  background-color: #e61a1a6b;
//}
//
//.btn-no:hover {
//  background-color: #e61a1ae6;
//}

//Mobile view implementation

//@media (max-width: 768px) and (min-width: 600px) {
//  .media-sub-accordian-heading {
//    margin-left: -47px;
//  }
//}

//@media (max-width: 768px) and (min-width: 600px) {
//  .accordion > .card .card-header {
//    margin-bottom: -1px;
//    height: 100px;
//  }
//}

/* Extra small devices (phones, 600px and down) */
//@media only screen and (max-width: 600px) {
//  .desktop-view {
//    display: none;
//  }
//  .mobile-view {
//    display: block;
//  }
//}

/* Small devices (portrait tablets and large phones, 600px and up) */
//@media only screen and (min-width: 600px) {
//  .mobile-view {
//    display: block;
//  }
//}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
  .desktop-view-order-id {
    display: block;
  }
  .cart-sub-section-image {
    height: 50px;
  }
  .product-status {
    margin-left: 0 !important;
  }
}

.product-status {
  margin-left: 16px;
}

//.desktop-view-order-id{
//  display: none;
//}

.mobile-view {
  display: none !important;
}

@media only screen and (max-width: 900px) {
  .card {
    margin-top: 10px;
  }

  .card-header .bg-info {
    padding: 0 !important;
  }

  .content-wrapper {
    padding: 0.3rem 0.3rem;
  }

  .product_detail {
    font-size: 22px;
    display: table;
    margin-top: 23px;
    text-align: center;
  }

  .reorder_btn {
    width: 100%;
    margin-top: 6px;
    border-radius: 0 !important;
  }

  .infoWrap {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .sub-order-dropdown-heading {
    color: #4da4e0;
  }
}

.sub-accordian-heading {
  font-size: 16px !important;
  //font-weight: 300 !important;
}

.total_amount_display {
  font-weight: 600;
  font-size: 18px;
}

.btn .btn-link {
  margin-bottom: -12px !important;
}

.btn .btn-link {
  margin-bottom: -12px;
}

.itemNumber {
  font-size: 12px;
}

.itemNumber h3 {
  font-size: 16px;
}

.cancel_btn {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

.btn:after {
  padding: 0 !important;
}

.reject_btn_view {
  float: right;
  margin-top: 10px;
}

@media only screen and (max-width: 630px) {
  .card-body {
    padding: 1.25em !important;
  }
  .cartWrap {
    padding-left: 0 !important;
  }
  .distributor-reject {
    border-radius: 0 !important;
  }
}

.text-muted {
  font-size: 15px !important;
}

.text-muted-sub {
  color: #ec2c70 !important;
  font-weight: 300;
}

.text-dark {
  //color: #343a40 !important;
  font-size: 16px !important;
}

.parent_div {
  display: flex;
}

.child_div {
  float: left;
  margin-right: 5px;
}

.download_csv {
  text-decoration: underline;
  color: #00a855;
  cursor: pointer;
  margin-left: 30px;
}

.card-header {
  padding: 0px !important;
}

.empty-cart-data {
  margin: auto;
  display: table;
  width: 650px;
  padding-top: 3em;
}

.fast-moving-span {
  margin: auto;
  display: table;
  padding-top: 2em;
  font-weight: 100;
  font-size: 20px;
}

.cart-header-btn {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .cart-header-btn {
    display: flex;
    flex-direction: column;
  }
  .all-order-reject-btn {
    display: none !important;
  }
  .all-order-reject-mobile-btn {
    display: block !important;
  }
}

.card-header-btn-container {
  display: flex;
  flex-direction: column-reverse;
}

.cart-sub-section-image {
  display: flex;
  flex-direction: row;
}

.all-order-reject-btn {
  display: block;
}

.all-order-reject-mobile-btn {
  display: none;
}

//Status colors
.status-pending-color {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
.status-in_process-color {
  color: #e2b913;
  border: 1px solid #e2b913;
}
.status-accepted_by_distributor-color {
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
}
.status-rejected_by_distributor-color {
  color: darkorchid;
  border: 1px solid darkorchid;
}
.status-picked_up_by_delivery_boy-color {
  color: yellowgreen;
  border: 1px solid yellowgreen;
}
.status-delivered_delivery_boy-color {
  color: darkseagreen;
  border: 1px solid darkseagreen;
}
.status-accepted_by_retailer-color {
  color: darkcyan;
  border: 1px solid darkcyan;
}
.status-cancel-color {
  color: red;
  border: 1px solid red;
}
