.tr-color {
  background-color: white;
}

.bg-info {
  background-color: white !important;
}

//Search bar
@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.navigation {
  background-color: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 1px #c8c8c8;
  line-height: 52px;
  color: #62bb49;
}
.container {
  position: relative;
  margin-top: -25px;
  margin-bottom: 6%;
  margin-left: 0px;
  padding-left: 0px;
}
.title {
  font-family: "Cookie";
  font-size: 32px;
  cursor: pointer;
}
.search-control {
  font-family: "Open Sans";
  position: absolute;
  right: 0;
  cursor: pointer;
  color: #bbb;
}
.search-control:hover {
  color: #686868;
}
.fa-home {
  font-size: 22px;
}
.search-box {
  width: 100%;
  position: relative;
  height: 48px;
  transition: opacity 0.4s linear, visibility 0.4s linear 0s;
}
.search-box > #search {
  border: 1px solid;
  padding-left: 10%;
  width: 640px;
  height: 48px;
  border-radius: 6px 0px 0px 6px;
  //box-shadow: -1px 0px 7px #ddd;
}
input,
input:focus {
  border: none;
  box-shadow: none;
  background-color: none;
  outline: 0;
  font-size: 16px;
  font-family: "Open Sans";
  color: #bbb;
  padding: 0px 12px;
}
.also {
  font-family: "fontawesome";
  color: #bbb;
  display: inline-block;
  background-color: #fff;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  //box-shadow: -1px 0px 7px #ddd;
  border: 1px solid;
}
.search-link:hover {
  color: #686868;
}
.setting {
  border-radius: 0px 6px 6px 0px;
  margin-left: 48px;
  font-size: 18px;
}
.setting:hover {
  color: #686868;
}

//Remote
//@import "compass/css3";

//@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400, 700);
//@import "compass/reset";
$fontSans: "Montserrat", sans-serif;
$fontSerif: "Droid Serif", serif;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
//*{ box-sizing:border-box;}
//
//
//
//body {
//  color: #333;
//  -webkit-font-smoothing: antialiased;
//  font-family: $fontSerif;
//
//}
img {
  max-width: 100%;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.wrap {
  margin: 0 auto;
  padding: 1em 0;
  width: 87%;
  margin-bottom: -1em;
}

.projTitle {
  font-family: $fontSans;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
  span {
    font-family: $fontSerif;
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
  }
}
// CART HEADER
.heading {
  padding: 1em 0;
  //border-bottom: 1px solid #d0d0d0;

  h1 {
    font-family: $fontSerif;
    font-size: 2em;
    float: left;
  }
  a.continue {
    &:link,
    &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -0.015em;
      font-size: 0.75em;
      padding: 1em;
      color: #fff;
      background: #82ca9c;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      text-align: right;
      @include transition(all, 0.25s, linear);
    }
    &:after {
      content: "\276f";
      padding: 0.5em;
      position: relative;
      right: 0;
      @include transition(all, 0.15s, linear);
    }
    &:hover,
    &:focus,
    &:active {
      background: #f69679;

      &:after {
        right: -10px;
      }
    }
  }
}

// TABLE HEADING

.tableHead {
  display: table;
  width: 100%;
  font-family: $fontSans;
  font-size: 0.75em;
  li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
    &.prodHeader {
      text-align: left;
    }
  }
}

// CART Items

.cart {
  padding: 1em 0;

  .items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 4px;

    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;

      //vertical-align: middle;

      .itemNumber {
        font-size: 0.75em;
        color: #777;
        margin-bottom: 0.5em;
      }

      h3 {
        font-size: 1em;
        font-family: $fontSans;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.025em;
      }
      p {
        display: inline-block;
        font-size: 0.85em;

        color: #777777;
        font-family: $fontSans;
        .quantity {
          font-weight: bold;
          color: #333;
        }

        &.stockStatus {
          color: #82ca9c;
          font-weight: bold;
          padding: 0.5em 0 0 1em;
          text-transform: uppercase;
          &.out {
            color: #f69679;
          }
        }
      }
      .itemImg {
        width: 4em;

        float: left;
      }
      &.qtyWrap,
      &.prodTotal {
        text-align: center;
        p {
          font-weight: bold;
          font-size: 1.25em;
        }
      }

      input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
        padding: 0.25em;
        margin: 1em 0.5em 0 0;
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
    }
  }
}

.special {
  display: block;
  font-family: $fontSans;
  .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #dadada;
    &:before {
      content: "\21b3";
      font-size: 1.5em;
      margin-right: 1em;
      color: #6f6f6f;
      font-family: helvetica, arial, sans-serif;
    }
  }
}

a.remove {
  text-decoration: none;
  font-family: $fontSans;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  @include transition(all, 0.25s, linear);
  &:hover {
    background: #f30;
  }
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;

    margin-bottom: 0.5em;
    letter-spacing: -0.025em;
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: 0.5em;
    float: left;
    border: 1px solid #dadada;
    &:active,
    &:focus {
      outline: 0;
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: 0.75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
    &:hover {
      border: 1px solid #f69679;
      background: #f69679;
    }
  }
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: $fontSans;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    @include transition(all, 0.25s, linear);
  }
  &:after {
    content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    @include transition(all, 0.15s, linear);
  }
  &:hover,
  &:focus,
  &:active {
    background: #f69679;
    &:after {
      right: -10px;
    }
  }

  .promoCode & {
    font-size: 0.85em;
    paddding: 0.5em 2em;
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
  .totalRow {
    padding: 0.5em;
    text-align: right;

    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
    }
    .label {
      font-family: $fontSans;
      font-size: 0.85em;
      text-transform: uppercase;
      color: #777;
    }
    .value {
      letter-spacing: -0.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .heading {
    padding: 1em;
    font-size: 90%;
  }
  .cart {
    .items {
      .cartSection {
        width: 90%;
        display: block;
        float: left;
        &.qtyWrap {
          width: 10%;
          text-align: center;
          padding: 0.5em 0;
          float: right;
          &:before {
            content: "QTY";
            display: block;
            font-family: $fontSans;
            padding: 0.25em;
            font-size: 0.75em;
          }
        }
        &.prodTotal,
        &.removeWrap {
          display: none;
        }
        .itemImg {
          width: 25%;
        }
      }
    }
  }
  .promoCode,
  .subtotal {
    width: 100%;
  }

  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

//Changing design of btn in accordian

.btn-link {
  width: 100% !important;
  text-decoration: none;
  color: black;
}

.btn:after {
  content: "";
}

.btn:hover,
.btn:focus,
.btn:active {
  background: white;
  text-decoration: none;
  color: black;
}

.sub-accordian-heading {
  font-size: 12px;
  font-weight: 100;
}

//Date filter
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.filter_start_date {
  margin-top: -25px;
  margin-left: 8px;
}

.filter_end_date {
  margin-top: -25px;
  margin-left: -24px;
}

.sub-order-dropdown-heading {
  color: #4da4e0;
  margin-left: 11px;
}

.product-sub-details {
  margin-left: 3px;
  font-size: 15px;
}

.infoWrap {
  padding: 12px;
}

.footer-order-data-sub-details {
  margin-top: 25px;
  margin-bottom: -6px;
  margin-left: -11px;
}

.card {
  border: 1px solid #00000026 !important;
}

.btn-accept {
  background-color: #4ca4e1;
  padding: 5px;
  padding-left: 23px;
  color: #f2f7fb;
}

.btn-reject {
  background-color: #ce01018c;
  padding: 5px;
  padding-left: 23px;
  color: #f2f7fb;
}
