<form>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let order of orderListData">
      <ng-template ngbPanelTitle>
        <div class="row">
          <div class="col-md-2">
            <span class="sub-accordian-heading">Order on</span>
          </div>
          <div class="col-md-2">
            <span class="sub-accordian-heading">Amount</span>
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <span class="sub-accordian-heading">ORDER # {{ order.order_id }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <span style="color: #00000087;">{{ order.order_date }}</span>
          </div>
          <div class="col-md-2">
            <span>{{ order.total_amount }}</span>
          </div>
          <div class="col-md-5"></div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="wrap cf" style="margin-top: -30px;">
          <!--<h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>-->
          <div class="heading cf">
            <h1>Order</h1>
            <div *ngIf="role_type === 'distributor'" style="text-align: right;">
              <button class="continue btn btn-inverse-success btn-rounded btn-fw btn-yes btn-accept" type="button">
                Accepted
              </button>
              <button class="continue btn btn-inverse-success btn-rounded btn-fw btn-yes btn-reject" type="button">
                Rejected
              </button>
            </div>
            <div *ngIf="role_type === 'retailer'" style="text-align: right;">
              <button class="continue btn btn-inverse-success btn-rounded btn-fw btn-yes btn-accept" type="button">
                Re-order
              </button>
            </div>
          </div>
          <div class="cart">
            <ul class="cartWrap">
              <li
                class="items"
                *ngFor="let products of order.order_details; let i = index"
                [attr.data-index]="i"
                [ngClass]="i % 2 === 0 ? 'even' : 'odd'"
              >
                <div class="infoWrap">
                  <div class="cartSection">
                    <p class="itemNumber">ORDER # {{ order.order_id }}</p>
                    <h3>{{ products.product['name'] }}</h3>
                    <div class="footer-order-data-sub-details">
                      <strong class="sub-order-dropdown-heading">Units ordered :</strong
                      ><span class="product-sub-details">{{ products.quantity }}</span>
                      <strong class="sub-order-dropdown-heading">Price:</strong
                      ><i class="fa fa-inr" aria-hidden="true"></i
                      ><span class="product-sub-details">{{ products.product.price }}</span>
                      <strong *ngIf="role_type === 'retailer'" class="sub-order-dropdown-heading"
                        >Distributor name:</strong
                      >
                      <span *ngIf="role_type === 'retailer'" class="product-sub-details">{{
                        products['distributor']['name']
                      }}</span>
                      <strong *ngIf="role_type === 'distributor'" class="sub-order-dropdown-heading"
                        >Retailer name:</strong
                      >
                      <span *ngIf="role_type === 'distributor'" class="product-sub-details">{{
                        products['retailer']['name']
                      }}</span>
                    </div>
                  </div>
                  <div class="prodTotal cartSection">
                    <p style="font-size: 20px;">
                      <i style="color: #00a855" class="fa fa-inr" aria-hidden="true"></i
                      ><span>{{ products.quantity * products.product.price }}</span>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="d-flex justify-content-between p-2" style="margin-top: 2%;">
    <ngb-pagination
      class="pagination-separated"
      [collectionSize]="total$ | async"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
    >
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
</form>

<ng-template #content let-modal>
  <app-alert [alertModalRefference]="modalReference" (messageEvent)="receiveMessage($event)"></app-alert>
</ng-template>
