.profile_circle {
  background-color: #fff3f3;
  padding: 5%;
  padding-left: 16px;
  padding-right: 16px;
  color: #669008;
  font-size: 17px;
}

.sidebar {
  box-shadow: 10px 10px 8px 10px #888888;
}

.profile-name {
  margin-bottom: 0.5em;
}
