//#loadersContainer{
//  display:table;
//  margin:auto;
//  overflow:hidden;
//}
//
//#loadersContainer *{
//  margin:3em 0;
//}
//
//*{
//  -webkit-font-smoothing: antialiased;
//}
//
///*loader 1*/
//.loader1{
//  width:64px;
//  height:64px;
//  position:relative;
//  -o-animation:loaderRotate 2s infinite linear;
//  -moz-animation:loaderRotate 2s infinite linear;
//  -webkit-animation:loaderRotate 2s infinite linear;
//  -ms-animation:loaderRotate 2s infinite linear;
//  animation:loaderRotate 2s infinite linear;
//  border-radius:50%;
//  box-sizing:border-box;
//}
//.loader1:after{
//  content:'';
//  display:block;
//  border:3px solid transparent;
//  border-left:3px solid #FF3E31;
//  box-sizing:border-box;
//  position:absolute;
//  top:0;
//  left:0;
//  bottom:0;
//  right:0;
//  border-radius:50%;
//  -o-animation:borderFlexLoader 2s infinite linear;
//  -moz-animation:borderFlexLoader 2s infinite linear;
//  -webkit-animation:borderFlexLoader 2s infinite linear;
//  -ms-animation:borderFlexLoader 2s infinite linear;
//  animation:borderFlexLoader 2s infinite linear;
//}
//.loader1:before{
//  content:'';
//  display:block;
//  border:3px solid transparent;
//  border-left:3px solid #FF3E31;
//  box-sizing:border-box;
//  position:absolute;
//  top:0;
//  left:0;
//  bottom:0;
//  right:0;
//  border-radius:50%;
//}
//
//@-o-keyframes loaderRotate{
//  0%{
//    transform:rotate(0deg);
//  }
//  100%{
//    transform:rotate(360deg);
//  }
//}
//@-moz-keyframes loaderRotate{
//  0%{
//    transform:rotate(0deg);
//  }
//  100%{
//    transform:rotate(360deg);
//  }
//}
//@-webkit-keyframes loaderRotate{
//  0%{
//    transform:rotate(0deg);
//  }
//  100%{
//    transform:rotate(360deg);
//  }
//}
//@-ms-keyframes loaderRotate{
//  0%{
//    transform:rotate(0deg);
//  }
//  100%{
//    transform:rotate(360deg);
//  }
//}
//
//@keyframes loaderRotate{
//  0%{
//    transform:rotate(0deg);
//  }
//  100%{
//    transform:rotate(360deg);
//  }
//}
//
//@-o-keyframes borderFlexLoader{
//  0%{
//    transform:rotate(0deg);
//  }
//  50%{
//    transform:rotate(180deg);
//  }
//  100%{
//    transform:rotate(0deg);
//  }
//}
//
//@-webkit-keyframes borderFlexLoader{
//  0%{
//    transform:rotate(0deg);
//  }
//  50%{
//    transform:rotate(180deg);
//  }
//  100%{
//    transform:rotate(0deg);
//  }
//}
//
//@-moz-keyframes borderFlexLoader{
//  0%{
//    transform:rotate(0deg);
//  }
//  50%{
//    transform:rotate(180deg);
//  }
//  100%{
//    transform:rotate(0deg);
//  }
//}
//
//@-ms-keyframes borderFlexLoader{
//  0%{
//    transform:rotate(0deg);
//  }
//  50%{
//    transform:rotate(180deg);
//  }
//  100%{
//    transform:rotate(0deg);
//  }
//}
//
//@keyframes borderFlexLoader{
//  0%{
//    transform:rotate(0deg);
//  }
//  50%{
//    transform:rotate(90deg);
//  }
//  100%{
//    transform:rotate(0deg);
//  }
//}
///*end loader 1*/

//.hidden {
//  visibility: hidden;
//}
//.loader-overlay {
//  position: absolute;
//  width: 100%;
//  z-index: 500000;
//  top: 0;
//}
//.loader {
//  height: 4px;
//  width: 100%;
//  position: relative;
//  overflow: hidden;
//  background-color: #fff;
//}
//.loader:before {
//  display: block;
//  position: absolute;
//  content: "";
//  left: -200px;
//  width: 200px;
//  height: 4px;
//  background-color: red;
//  animation: loading 2s linear infinite;
//}
//@keyframes loading {
//  from {
//    left: -200px;
//    width: 30%;
//  }
//  50% {
//    width: 30%;
//  }
//  70% {
//    width: 70%;
//  }
//  80% {
//    left: 50%;
//  }
//  95% {
//    left: 120%;
//  }
//  to {
//    left: 100%;
//  }
//}

body {
  margin: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
