<!--<div [hidden]="!isLoading" class="text-xs-center">-->
<!--<i class="fas fa-cog fa-spin fa-3x"></i> <span>{{message}}</span>-->
<!--</div>-->

<!--<div [class.hidden]="!show">-->
<!--  <div class="loader-overlay">-->
<!--  <div *ngIf="show" class="loader1"></div>-->
<!--  </div>-->
<!--  </div>-->
<!--  -->
<!--  <div id="loadersContainer" [hidden]="!isLoading">-->
<!--  <div class="loader1"></div>-->
<!--</div>-->
<div
  [class.hidden]="!show"
  [hidden]="!isLoading"
  style="    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(224, 236, 239, 0.45);
    z-index: 999;
    overflow-y: hidden;
      overflow-x: hidden;
    cursor: pointer;"
>
  <div class="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
