<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo">
      <img
        style="width: 63% !important; height: auto;"
        src="../../../../assets/images/logo/small-logo.png"
        alt="logo"
      />
    </a>
    <a routerLink="/salesman/home" class="navbar-brand brand-logo-mini">
      <img style="width: 33px; height: auto;" src="../../../../assets/images/logo/small-logo.png" alt="logo" />
    </a>
  </div>
</nav>
