.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-panel {
  width: 100%;
}

.sidebar-active {
  width: 100%;
}

.sidebar-active-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.sidebar_mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sidebar_mobile {
    display: block;
  }
}

#mySidenav a {
  position: absolute;
  //writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 9999;
  right: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  //border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: -20px;
}

#notes {
  top: 20%;
  background-color: #4caf50;
}

.notesTitle {
  font-family: "Amatic SC", cursive;
  margin: auto;
  display: table;
  font-size: 35px;
  font-weight: 200;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.notes_textarea {
  width: 100% !important;
  padding: 3% !important;
  height: 82vh !important;
  border-radius: 10px;
  border: 0;
  box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.5);
}

.notes-close {
  font-size: 22px;
  -webkit-text-stroke: 1px background-color;
  font-weight: 100;
  padding-left: 2%;
  padding-top: 2%;
}
