<!--<header>-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--<a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>-->
<!--<button class="navbar-toggler" type="button" aria-controls="navbar-menu"-->
<!--aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">-->
<!--<div class="navbar-nav">-->
<!--<a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">-->
<!--<i class="fas fa-home"></i>-->
<!--<span translate>Home</span>-->
<!--</a>-->
<!--<a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">-->
<!--<i class="fas fa-question-circle"></i>-->
<!--<span translate>About</span>-->
<!--</a>-->
<!--</div>-->
<!--<div class="navbar-nav ml-auto">-->
<!--<div class="nav-item" ngbDropdown placement="bottom-right">-->
<!--<a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLanguage}}</a>-->
<!--<div ngbDropdownMenu aria-labelledby="language-dropdown">-->
<!--<button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">-->
<!--{{language}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="nav-item" ngbDropdown placement="bottom-right">-->
<!--<a id="user-dropdown" class="nav-link" ngbDropdownToggle>-->
<!--<i class="fas fa-user-circle"></i>-->
<!--</a>-->
<!--<div ngbDropdownMenu aria-labelledby="user-dropdown">-->
<!--<h6 class="dropdown-header">-->
<!--<span translate>Logged in as</span> <b>{{username}}</b></h6>-->
<!--<div class="dropdown-divider"></div>-->
<!--<button class="dropdown-item" (click)="logout()" translate>Logout</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--</header>-->

<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <!--Toggle function (click)="toggleSideBar()"-->
    <a class="navbar-brand brand-logo desktop_view">
      <img style="height: 39px; !important;" src="../../../assets/images/medpure-logo.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" [routerLink]="['/']">
      <img src="../../../assets/images/logo_medpure.jpeg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <a [routerLink]="['/' + role_type + '/coming-soon']" class="nav-link"
          >Products
          <span class="badge badge-primary ml-1">New</span>
        </a>
      </li>
      <li class="nav-item active">
        <a *ngIf="role_type === 'retailer'" [routerLink]="['/' + role_type + '/order']" class="nav-link">
          <i class="mdi mdi-elevation-rise"></i>Place order</a
        >
        <a *ngIf="role_type === 'distributor'" [routerLink]="['/' + role_type + '/upload']" class="nav-link">
          <i class="mdi fa fa-cloud-upload"></i>Upload</a
        >
      </li>
      <!--<li class="nav-item">-->
      <!--<a href="#" class="nav-link"> <i class="mdi mdi-bookmark-plus-outline"></i>Reports</a>-->
      <!--</li>-->
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <!--<li class="nav-item dropdown">-->
      <!--<a-->
      <!--class="nav-link count-indicator dropdown-toggle"-->
      <!--id="messageDropdown"-->
      <!--href="#"-->
      <!--data-toggle="dropdown"-->
      <!--aria-expanded="false"-->
      <!--&gt;-->
      <!--<i class="mdi mdi-file-document-box"></i>-->
      <!--<span class="count">7</span>-->
      <!--</a>-->

      <!--Chat message-->
      <!--<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">-->
      <!--<div class="dropdown-item">-->
      <!--<p class="mb-0 font-weight-normal float-left">You have 7 unread mails</p>-->
      <!--<span class="badge badge-info badge-pill float-right">View all</span>-->
      <!--</div>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item preview-item">-->
      <!--<div class="preview-thumbnail">-->
      <!--<img src="../../../assets/images/faces/face4.jpg" alt="image" class="profile-pic" />-->
      <!--</div>-->
      <!--<div class="preview-item-content flex-grow">-->
      <!--<h6 class="preview-subject ellipsis font-weight-medium text-dark">-->
      <!--David Grey-->
      <!--<span class="float-right font-weight-light small-text">1 Minutes ago</span>-->
      <!--</h6>-->
      <!--<p class="font-weight-light small-text">-->
      <!--The meeting is cancelled-->
      <!--</p>-->
      <!--</div>-->
      <!--</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item preview-item">-->
      <!--<div class="preview-thumbnail">-->
      <!--<img src="../../../assets/images/faces/face2.jpg" alt="image" class="profile-pic" />-->
      <!--</div>-->
      <!--<div class="preview-item-content flex-grow">-->
      <!--<h6 class="preview-subject ellipsis font-weight-medium text-dark">-->
      <!--Tim Cook-->
      <!--<span class="float-right font-weight-light small-text">15 Minutes ago</span>-->
      <!--</h6>-->
      <!--<p class="font-weight-light small-text">-->
      <!--New product launch-->
      <!--</p>-->
      <!--</div>-->
      <!--</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item preview-item">-->
      <!--<div class="preview-thumbnail">-->
      <!--<img src="../../../assets/images/faces/face3.jpg" alt="image" class="profile-pic" />-->
      <!--</div>-->
      <!--<div class="preview-item-content flex-grow">-->
      <!--<h6 class="preview-subject ellipsis font-weight-medium text-dark">-->
      <!--Johnson-->
      <!--<span class="float-right font-weight-light small-text">18 Minutes ago</span>-->
      <!--</h6>-->
      <!--<p class="font-weight-light small-text">-->
      <!--Upcoming board meeting-->
      <!--</p>-->
      <!--</div>-->
      <!--</a>-->
      <!--</div>-->
      <!--End chat message-->
      <!--</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i class="mdi mdi-bell"></i>
          <span class="count">4</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          aria-labelledby="notificationDropdown"
        >
          <a class="dropdown-item">
            <p class="mb-0 font-weight-normal float-left">You have 4 new notifications</p>
            <span class="badge badge-pill badge-warning float-right">View all</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="mdi mdi-alert-circle-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
              <p class="font-weight-light small-text">
                Just now
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="mdi mdi-comment-text-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
              <p class="font-weight-light small-text">
                Private message
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="mdi mdi-email-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
              <p class="font-weight-light small-text">
                2 days ago
              </p>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-block">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span class="profile-text">Hello, {{ user_info['name'] }} !</span>
          <!--<span class="img-xs rounded-circle profile_circle"><strong>{{ user_info['name'].charAt(0).toUpperCase() }}</strong></span>-->
          <img class="img-xs rounded-circle" src="../../../assets/images/faces/avatar.png" alt="Profile image" />
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <a class="dropdown-item p-0">
            <div class="d-flex border-bottom">
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center" (click)="open(content)">
                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
              </div>
            </div>
          </a>
          <a class="dropdown-item mt-2" [routerLink]="['/' + role_type + '/profile']">
            Profile
          </a>
          <a class="dropdown-item" [routerLink]="['/' + role_type + '/change-password']">
            Change Password
          </a>
          <!--<a class="dropdown-item">-->
          <!--Check Inbox-->
          <!--</a>-->
          <a class="dropdown-item" (click)="logout()">
            Sign Out
          </a>
        </div>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      data-toggle="offcanvas"
    >
      <span class="mdi mdi-menu" (click)="toggleSideBar()"></span>
    </button>
  </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
