////Search bar

@media only screen and (max-width: 768px) {
  .search-container {
    position: fixed;
    top: 63px;
    z-index: 99;
    width: 100% !important;
    margin-left: -15px !important;
    margin-top: 0 !important;
  }
  .add_salesman_desktop {
    display: none !important;
  }
  //For retailer add button
  .outer-add-container {
    width: 90%;
    display: block !important;
    bottom: 30px;
    position: fixed;
  }
  .floatcontainer {
    float: right;
  }
  .desktop-salesman-container {
    margin-top: 44px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.outer-add-container {
  display: none;
}

.add_salesman_desktop {
  display: block;
}

.search-container {
  width: 57%;
  display: block;
  margin: 0 auto;
  margin-top: 59px;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -8px;
}

.desktop-salesman-container {
  margin-top: 76px;
  padding-left: 60px;
  padding-right: 60px;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  &:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.add_salesman_via_link {
  display: flex;
  flex-direction: row;
}

.h-line {
  padding-top: 2em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(21, 18, 19, 0.44);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.h-line span {
  background: #fff;
  padding: 0 10px;
}
