.footer {
  position: absolute;
  bottom: 0px;
  width: 83%;
}

.main-panel {
  background: #f2f8f9;
}

.sidebar-active {
  width: 100%;
}

.sidebar-active-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
