.content-wrapper {
  padding: 0;
}

.container-fluid {
  //padding-left: 0;
  //padding-right: 0;
}

.w-100 {
  margin: 0;
}

.mx-auto {
  width: 40%;
  margin: auto;
  display: table;
  @media only screen and (max-width: 900px) {
    width: 100%;
    margin: auto;
    display: table;
  }
  @media only screen and (max-width: 1024px) {
    width: 80%;
    margin: auto;
    display: table;
  }
}

@media only screen and (max-width: 580px) {
  .mobile-change-password-card {
    width: 100% !important;
    margin: 0px !important;
    top: 31% !important;
  }
}

.expireForgetToken {
  display: flex;
  flex-direction: column;
}

.expireForgetToken span {
  padding: 2em;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.expireForgetToken img {
  width: 600px;
  margin: auto;
  display: table;
}

.resend_login {
  text-decoration: underline !important;
  color: rgb(255, 20, 147) !important;
  cursor: pointer;
}
