<div class="container-scroller" *ngIf="!inValidToken">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="mx-auto mobile-change-password-card">
          <div class="auto-form-wrapper">
            <form action="#">
              <!--        <div class="form-group">
                <label class="label">Enter Current Password</label>
                <div class="input-group">
                  <input style="height: 44px" (ngModal)="curr_password" type="password" class="form-control" placeholder="*********" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-key-variant"></i>
                    </span>
                  </div>
                </div>
              </div> -->
              <div class="alert alert-danger" *ngIf="error && !isLoading" translate>
                <div *ngFor="let err of error">{{ err }}</div>
              </div>
              <div
                class="alert alert-danger"
                *ngIf="data.new_password1 != data.new_password2 && (data.new_password2 || data.new_password1)"
                translate
              >
                Passwords Do not Match.
              </div>
              <div class="alert alert-success" *ngIf="!error && !isLoading && password_changed" translate>
                Password has been changed.
              </div>
              <div class="form-group">
                <label class="label">Enter New Password</label>
                <div class="input-group">
                  <input
                    style="height: 44px"
                    type="password"
                    required
                    id="new_password1"
                    name="new_password1"
                    [(ngModel)]="data.new_password1"
                    class="form-control"
                    placeholder="*********"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label">Re-Enter New Password</label>
                <div class="input-group">
                  <input
                    style="height: 44px"
                    type="password"
                    id="new_password2"
                    name="new_password2"
                    [(ngModel)]="data.new_password2"
                    class="form-control"
                    placeholder="*********"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button
                  class="btn btn-primary submit-btn btn-block"
                  (click)="change()"
                  [disabled]="data.new_password1 != data.new_password2"
                >
                  Reset password
                </button>
              </div>
              <!--<div class="form-group d-flex justify-content-between">-->
              <!--<div class="form-check form-check-flat mt-0">-->
              <!--<label class="form-check-label">-->
              <!--<input type="checkbox" class="form-check-input" checked> Keep me signed in-->
              <!--</label>-->
              <!--</div>-->
              <!--&lt;!&ndash;<a href="#" class="text-small forgot-password text-black">Forgot Password</a>&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="form-group">-->
              <!--<button class="btn btn-block g-login">-->
              <!--<img class="mr-3" src="../../images/file-icons/icon-google.svg" alt="">Log in with Google</button>-->
              <!--</div>-->
              <!--<div class="text-block text-center my-3">-->
              <!--<span class="text-small font-weight-semibold">Not a member ?</span>-->
              <!--<a href="register.html" class="text-black text-small">Create new account</a>-->
              <!--</div>-->
            </form>
          </div>
          <!--<ul class="auth-footer">-->
          <!--<li>-->
          <!--<a href="#">Conditions</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="#">Help</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="#">Terms</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--<p class="footer-text text-center">copyright © 2018 MedPure. All rights reserved.</p>-->
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<div *ngIf="inValidToken" class="expireForgetToken">
  <span>Your token is expired or invalid. Kindly <a class="resend_login" routerLink="/">resend</a> the request.</span>
  <img src="../../../assets/images/error/invalid.svg" />
</div>
